@import "/src/styles/extend.scss";

ul.tags {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

li.tag {
    display: inline-flex;
    background-color: var(--theme-tag-background);
    color: var(--theme-tag-text);
    border-radius: 5px;
    border: 1px solid color-mix(in srgb, currentColor 12%, transparent);
    text-transform: lowercase;
    font-weight: 600;
    white-space: nowrap;
    user-select: none;
    transition: 0.2s background-color ease-out;
    line-height: 1.2;

    &:hover {
        background-color: var(--theme-tag-background-hover);
        color: var(--theme-tag-text);
    }

    margin-right: 6px;
    margin-bottom: 6px;
    padding: 3px 10px;

    @include media-breakpoint-down(md) {
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 2px 8px;
    }
}

li.tag-dark {
    background-color: var(--theme-tag-dark-background);
    color: var(--theme-tag-dark-text);
    margin-right: 3px;
    margin-bottom: 3px;
    border-color: color-mix(in srgb, currentColor 10%, transparent);


    &:hover {
        background-color: var(--theme-tag-background-hover);
        color: var(--theme-tag-text);
    }
}

li.tag-no-transition {
    transition: none!important;
}
